@import '../../common/variables';

.technology_container {
  width: 100%;
  display: flex;
  background: $floral_white;
  align-items: center;
  justify-content: center;
  padding: $baseUnit*8px 0;
  > div {
    width: 100%;
    display: flex;
    max-width: $max_width;
    flex-direction: column;

    > hr {
      background: $fire_opal;
      border: 1px solid $fire_opal;
      width: calc(100% - #{$baseUnit*25}px);
      opacity: .8;
    }

    .TechItem {
      justify-content: start;
    }

    > h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 22px;
    }

    > ul {
      padding-top: $baseUnit*4px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: $baseUnit*2px;
      padding-left: 0;
      margin: 0;

      li {
        border-radius: 45px;
        padding: $baseUnit*1px $baseUnit*2px;
        border: $debug_border;
        display: flex;
        align-items: center;
        gap: $baseUnit*1px;
        font-size: 18px;

        img {
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .technology_container {
    width: calc(100% - #{$mobileLeftPadding*2});
    padding: $mobileTopPadding $mobileLeftPadding;
  }
}
