@import '../../common/variables';

$transformation: all .5s ease;
.AboutMeCta {
  background: white;
  color: $secondaryColor;
  > .section_inner {
    margin: 0;
    max-width: 3000px;
    .body {
      padding-top: 0;
    }
  }
  .MyStory {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 100%;
    gap: #{$baseUnit*8}px !important;
    text-align: left;
    width: 650px;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
   .underlay {
      width: 90%;
      height: 150%;
      position: absolute;
      background: $primaryColor;
      border-radius: 130% 0px 0px 50%;
      top: 0;
      right: 0;
    }
    img {
      z-index: 4;
      width: 300px;
      border-radius: 24px;
    }
    > .Button {
      align-self: end;
      z-index: 4;
    }

    > .card-container {
      display: flex;
      line-height: #{$baseUnit*4}px;
      z-index: 3;
      a {
        text-decoration: none;
        color: $accentColor;
        &:hover {
          text-decoration: underline;
          transition: all $transitionTime ease;
        }
      }
    }

    > .action-container {
      gap: 16px;
      height: 48px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1324px) {
  .AboutMeCta {
    padding-top: #{$baseUnit*6}px;
    padding-bottom: #{$baseUnit*6}px;
    .MyStory {
      margin-top: #{$baseUnit}px;
      margin-left: 0px;
      .underlay {
        width: 100%;
        border-radius: 0;
      }
      > .card-container {
        flex-direction: column;
        width: 100%;
      }

      > .action-container {
        display: none;
      }
    }
  }
}
