@import '../../common/variables';

$transformation: all .5s ease;
.AboutMeCta {
  background: white;
  color: $secondaryColor;
  > .section_inner {
    margin-top: 0;
    margin-bottom: 0;
  }
  .MyStory {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 100%;
    margin-top: #{$baseUnit*8}px !important;
    gap: #{$baseUnit*8}px !important;
    text-align: left;
    > .Button {
      align-self: end;
    }

    > .card-container {
      display: flex;
    }

    > .action-container {
      gap: 16px;
      height: 48px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1324px) {
  .MyStory {
    > .card-container {
      flex-direction: column;
      width: 100%;
    }

    > .action-container {
      display: none;
    }
  }
}
