@import '../../../common/variables';

.Modal {
  > .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: .4;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
      display: flex;
    }
  }

  > .card {
    border-radius: $card_border_radius;
    z-index: 3;
    background: white;
    width: 85%;
    height: 85%;
    position: fixed;
    margin: auto;
    top: 110%;
    left: 0;
    right: 0;
    transition: all .7s ease;

    &.active {
      top: 7.5%;
      animation: show-modal 1s;
    }

    > .content {
      color: black;
      height: 100%;
      width: 100%;
    }

    > .action-container {
      position: absolute;
      top: 0;
      width: 30px;
      cursor: pointer;
      z-index: 3;
      padding: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  .Modal {
    > .card {
      height: 100%;
      width: 100%;
      margin: 0;
      margin-top: auto;
      &.active  {
        top: 0;
        animation: show-modal-mobile 1s;
      }
      .ProjectModalBody {
        flex-direction: column;

        > .content {
          gap: #{$baseUnit*2}px;
          padding: #{$baseUnit/2}px #{$baseUnit}px;
          > .action-container {
            padding: #{$baseUnit}px;
          }
          > h2 {
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@keyframes show-modal {
  0% {
    top: 110%;
  }
  100% {
    top: 7.5%;
  }
}

@keyframes show-modal-mobile {
  0% {
    top: 110%;
  }
  100% {
    top: 0;
  }
}
