@import '../../../common/variables';

$initialModalPosition: 100%;

.Modal {
  width: 100%;
  position: fixed;
  top: 0;

  .card {
    transform: translateY(125%);
    overflow: scroll;
    background: $floral_white;
    z-index: 3;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    transition: all 1s ease-in-out 0s;
    flex-direction: column;

    &.active {
      transform: translateY(0);
      height: 100vh;
      display: flex;
      overflow-x: hidden;
    }

    > .content {
      color: black;
      height: 100%;
      width: 100%;
    }

    > .action-container {
      position: sticky;
      background: black;
      opacity: .8;
      color: white;
      top: 0;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      padding: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    .ProjectModalBody {
      > .content {
        gap: #{$baseUnit*2}px;
        padding: #{$baseUnit/2}px #{$baseUnit}px;

        > .action-container {
          padding: #{$baseUnit}px;
        }

        > h2 {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
    }
  }
}
