@import '../../../common/variables';
$transformation: all 2s ease;

.Modal {
  > .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: .4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .card {
    border-radius: $card_border_radius;
    z-index: 3;
    background: white;
    width: 66%;
    height: 66%;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > .content {
      color: black;
      height: 100%;
      width: 100%;
    }

    > .action-container {
      position: absolute;
      top: -40px;
      cursor: pointer;
      z-index: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .Modal {
    > .card {
      height: calc(100% - 40px);
      width: 100%;
      margin: 0;
      margin-top: auto;
      > .action-container {
        top: -35px;
        left: 4px
      }
      .ProjectModalBody {
        flex-direction: column;
        > .content {
          gap: #{$baseUnit*2}px;
          > h2 {
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
