@import '../../../common/variables';
$initialModalPosition: 100%;

.card {
  z-index: 3;
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  top: $initialModalPosition;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: all 1s ease-in-out 0s;
  &.active {
    top: 75px;
    height: 100vh;
    display: flex;
    visibility: visible;
  }

  > .content {
    color: black;
    height: 100%;
    width: 100%;
  }

  > .action-container {
    position: absolute;
    top: 0;
    width: 30px;
    cursor: pointer;
    z-index: 3;
    padding: 4px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: auto;

    &.active {
      top: $navBarHeight;
      animation: show-modal-mobile 1s;
    }

    .ProjectModalBody {
      flex-direction: column;

      > .content {
        gap: #{$baseUnit*2}px;
        padding: #{$baseUnit/2}px #{$baseUnit}px;

        > .action-container {
          padding: #{$baseUnit}px;
        }

        > h2 {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
    }
  }
}


@keyframes show-modal-mobile {
  0% {
    top: $initialModalPosition;
  }
  100% {
    top: $navBarHeight;
  }
}
