@import '../../../common/variables';

.Aurora {
  width: 100%;
  max-width: $max_width;
  > .container {
    &:first-of-type {
      margin-top: #{$baseUnit*4}px;
    }
    margin-top: #{$baseUnit*8}px;
    margin-bottom: #{$baseUnit*8}px;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: #{$baseUnit*2}px;
    > label {
      font-weight: bold;
      align-self: start;
      text-transform: uppercase;
    }
    img {
      //width: 100%;
      max-width: 85%;
      //height: 400px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    transition: all .2s ease-in;
    &:hover {
      color: $fire_opal;
    }
  }
  > iframe {
    width: 100%;
    min-height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .Aurora {
    > .container {
      img {
        max-width: 100%;
      }
    }
    > iframe {
      min-height: 250px;
    }
  }
}
