@import '../../../common/variables.scss';

.Section {
  min-height: 100vh;
  color: white;
  padding: $baseUnit*6px;
  > h2 {
    font-size: $baseUnit*6px;
    margin: 0;
    text-transform: uppercase;
  }
  > .body {
    padding-top: $baseUnit*8px;
  }
}