@import '../../common/variables';

.Section.About {
  color: $gray75;
  a {
    color: $accentColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > .section_inner {
    > .body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      font-size: $desktopBodyFontSize;
      > div {
        display: flex;
        flex-direction: row;
        padding: $baseUnit*2px 0;
        gap: $baseUnit*12px;
        flex-wrap: wrap;
        justify-content: center;

        .description_container {
          display: flex;
          flex-direction: column;
          gap: $baseUnit*4px;
          text-align: left;
          flex: 2;
          min-width: 300px;
          > div {
            line-height: 28px;
          }
        }


        > img {
          object-fit: cover;
          height: 250px;
          border-radius: $card_border_radius;
          box-shadow: $box_shadow_1;
        }

        .portrait_container {
          height: 300px;
          width: 300px;
          border: 1px solid red;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .Section {
    > .section_inner {
      padding-top: #{$baseUnit*4}px;
      > .body {
        > div {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
