@import '../../common/variables';

.Section.Contact {
  background: $floral_white;
}
.section_inner {
  justify-content: center;
  > .body {
    justify-content: center;

  }
}
.Contact {
  color: $secondaryColor;
    > .action_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: #{$baseUnit*4}px;
      margin-top: #{$baseUnit*4}px;

      > .social_container {
        display: flex;
        flex-direction: row;
        gap: #{$baseUnit*4}px;

        svg {
          cursor: pointer;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
}
