@import '../../common/variables';
$transition: all $transitionTime ease-in;
.Navbar {
  > .link_container {
    height: $navBarHeight;
    position: fixed;
    display: flex;
    z-index: 3;
    justify-content: left;
    align-items: center;
    gap: #{$baseUnit*2}px;
    width: 100%;
    padding-left: #{$baseUnit*2}px;
    background: transparent;
    transition: $transition;
    > li {
      list-style-type: none;

      &.hide {
        transform: translateY(-100%);
      }

      > a {
        text-decoration: none;
        color: white;
        border-bottom: 0 solid white;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }

  .nav_underlay {
    position: fixed;
    width: 100%;
    height: $navBarHeight;
    background: black;
    left: 0;
    z-index: 1;
    transition: $transition;
    transform: translateY(-100%);
  }

  &.show {
    .nav_underlay {
      transform: translateY(0);
      opacity: .8;
    }
  }

  &.hide {
    .nav_underlay, .link_container {
      transform: translateY(-100%);
    }
  }

}
