@import '../../../common/variables';

.AboutItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $baseUnit*6;
  width: calc(25% - 96px);

  .img_wrapper {
    height: 125px;
    width: 125px;
    background: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    img {
      width: 50%;
      height: 50%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .AboutItem {
    width: calc(50% - 96px);
    padding: $baseUnit*3;
  }
}
@media screen and (max-width: 480px) {
  .AboutItem {
    width: calc(100% - 96px);
    padding: $baseUnit;
  }
}