@import '../../common/variables.scss';

.Section.Projects {
  background: $morning_blue;
}
.ProjectDisplay {
  display: block;
  width: 100%;
  > .project_container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .ProjectDisplay {
    > .project_container {
      grid-template-columns: 1fr;
    }
  }
}
