@import '../../../common/variables';

$transformation: all .5s ease;

.ProjectCard {
  background: white;
  color: black;
  height: 300px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow .3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: $box_shadow_light;
    > .content > .description {
      opacity: 1;
    }
  }

  > .overlay {
    height: 100%;
    width: 100%;
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .5;
    }
  }

  .content:hover + .overlay {
      opacity: .5;
  }

  > .content {
    z-index: 3;
    color: white;
    position: relative;

    > .description {
      opacity: 0;
      -webkit-transition: $transformation;
      -moz-transition: $transformation;
      -o-transition: $transformation;
      transition: $transformation;
    }

    > .h3 {
      font-weight: bold;
    }
  }
}
