@import '../../../common/variables';

$transformation: all .5s ease;

.ProjectCard {
  background: white;
  color: black;
  height: 300px;
  min-width: 200px;
  border-radius: $card_border_radius;
  box-shadow: $box_shadow_1;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    > .content > .description {
      opacity: 1;
    }
  }
  > .overlay {
    height: 100%;
    width: 100%;
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  > .content {
    z-index: 3;
    color: white;
    position: relative;
    > .description {
      opacity: 0;
      -webkit-transition: $transformation;
      -moz-transition: $transformation;
      -o-transition: $transformation;
      transition: $transformation;
    }
    > .h3 {
      font-weight: bold;
    }
  }
}
