$transformation: all 2s ease;
@import '../../../common/variables';

.ProjectModalBody {
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-transition: $transformation;
  -moz-transition: $transformation;
  -o-transition: $transformation;
  transition: $transformation;
  justify-content: center;
   .content {
    max-width: $max_width;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: #{$baseUnit*4}px;
    padding: 24px;
    padding-bottom: 0;
    text-align: start;
    > .description {
      text-transform: none;
      line-height: $bodyLineHeight;
    }
    > img {
      width: 600px;
    }
    > .technologies {
      > strong {
        align-self: center;
      }
      > div {
        margin-top: #{$baseUnit*2}px;
        > span {
          font-size: 12px;
          color: $gray75;
        }
      }
      display: flex;
      flex-direction: column;
      margin-top: #{$baseUnit*2}px;
    }
    > .img-container {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      > img {
        width: 100%;
      }
    }
    > .action-container {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: #{$baseUnit}px;
      align-items: center;
      padding-bottom: #{$baseUnit*4}px;
      padding-right:  #{$baseUnit*4}px;
      > svg:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ProjectModalBody {
    .content {
      width: calc(100% - #{$baseUnit*2}px);
      padding: #{$baseUnit}px;
      > img {
        width: 300px;
      }
    }
  }
}
